<div class="row">
  <div class="text-center">
<h1>Reservations</h1>

<table>
  <thead>
    <tr>
      <th>Reservation ID</th>
      <th>Restaurant Name</th>
      <th>Name on current reservation</th>
      <th>Number of People in the party</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |restaurant_reservation| %>
      <tr>
            <td><%= restaurant_reservation.id %></td>
            <td><%= restaurant_reservation.restaurant.name  %></td>
            <td><%= restaurant_reservation.name %></td>
            <td><%= restaurant_reservation.people %></td>
            <td><%= link_to 'Destroy', restaurant_reservation_path(restaurant_id: @restaurant.id, id: restaurant_reservation.id), method: :delete, data: {confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

  </div>
</div>