<div class="row">
  <div class="text-center">

<p>
  <strong>Name:</strong>
  <%= @reservation.name %>
</p>

<p>
  <strong>People:</strong>
  <%= @reservation.people %>
</p>

<%= link_to 'Edit', edit_restaurant_reservation_path(@reservation) %> |
<%= link_to 'Back', restaurant_reservations_path %>
<%= link_to 'Destroy', restaurant_reservations_path, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
