
<div class = "row">

  <div class="col-md-3">
    <strong>Name:</strong>
    <%= @restaurant.name %>
  </div>

  <div class="col-md-3">
    <strong>Address:</strong>
    <%= @restaurant.address %>
  </div>

  <div class="col-md-3">
    <strong>Seat:</strong>
    <%= @restaurant.seat %>
  </div>

  <div class="col-md-3">
    <strong>Cuisine:</strong>
    <%= @restaurant.cuisine %>
  </div>

</div>

<div class="row">

  <div class="col-md-6">

    <div id="restaurant_image_large_thumb">
      <strong>Image: </strong>
    </div>

      <%= image_tag(@restaurant.image_url(:largethumb).to_s) %>

  </div>


  <div class="col-md-6">
    <strong> Map: </strong>

    <div id="map"> </div>

    <script>
      function initMap() {
        var geocoder = new google.maps.Geocoder();
        var address = {lat:<%= @restaurant.latitude %>, lng: <%= @restaurant.longitude %>};

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 18,
            center: new google.maps.LatLng(<%= @restaurant.latitude %>, <%= @restaurant.longitude %>)
        });
      }
    </script>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["AIzaSyDpdv-ILkn1YaAvNHZw_InF7l8UfV80E80"] %>&callback=initMap">
    </script>
  </div>
</div>

  <div class="row">
  <% if owner_signed_in? %>
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
<% end %>
  </div>
